body{
    box-sizing: border-box;
    background-image: url(./panoramic-view-of-graphite-pencils-on-drawing-photo.jpg);
    background-size: cover;
    margin: 0px;
}

h1{
text-align: center;
font-size: 75px;
margin-top: 10px;
color:#565555;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.contents,.controls,
.manipulate,.column,.grid{
    display: flex;
}

.grid{
    width: 600px;
    height: 600px;
    background-color: white;
    border: 10px groove rgb(165, 158, 158);
    border-radius: 3%;
    margin-left: 27px;
    flex-wrap: wrap;
}
.controls{
    flex-direction: column;
    gap: 65px;
    padding-left: 32px;
    width: 280px;
}

.brush{
    margin-top: 120px;
    display:flex;
    gap: 20px;
    align-items: center;
}
.brush button{
    flex: 1 1 auto;
}
#colorInput{
    appearance: none;
    border: none;
    width: 0;
    height: 0;
    padding: 0;
}
.custom-color {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    border: 2px solid #000;
    cursor: pointer;
    display: inline-block;
}
.custom-color:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
}
.custom-color:active{
    transform: scale(0.95);
}
.panels:hover,#clear:hover{
    background-color: rgb(226, 214, 226);
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.panels.active{
    background-color: rgb(226, 214, 226);
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.panels:active,#clear:active{
    transform: scale(0.95);
    filter: brightness(0.85);
}

.controls button{
    max-width: 200px;
    font-size: 22px;
    font-weight: 800;
    padding: 12px 8px;
    background-color: rgb(199, 192, 192);
    border: 7px double black;
    border-radius: 5%;
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.3s ease, filter 0.1s ease;
}

#number{
    text-align: center;
    padding-top: 40px;
    margin-right: 77px;
    font-weight: 600;
    font-size: large;
}
.manipulate{
    justify-content: center;
    padding:0 50px;
    gap: 20px;
    margin-bottom: 60px;
    accent-color: rgb(86, 83, 83);
}
#clear{
    font-size: 20px;
    font-weight: bold;
    margin-left: 180px;
    background-color: rgb(165, 158, 158);
    border: 3px solid black;
    border-radius: 17%;
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.3s ease,filter 0.1s ease;
}
.manipulate label{
    font-size: 22px;
    font-weight: bold;
}

footer{
    padding: 20px;
    text-align: center;
    font-size: large;
    background-color: rgb(165, 172, 172,0.3);
}